body {
  width: 100%;
  background-color: #f0f0f0;
}
h1 {
  color: blue;
  text-align: center;
}
.input {
  width: 100%;
  text-align: center;
  &__date {
    width: 10%;
  }
  &__text {
    width: 20%;
  }
  & #btn:hover {
    cursor: pointer;
  }
}
table {
  width: 70%;
  margin: 40px auto;
  & tr {
    background-color: blue;
  }
  & tr td:nth-of-type(1) {
    width: 20%;
  }
  & tr td:nth-of-type(2) {
    width: 60%;
  }
  & tr td:nth-of-type(3) {
    width: 8%;
  }
  & tr td:nth-of-type(4) {
    width: 8%;
  }
  & tr td button {
    width: 100%;
  }
  & .btn {
    width: 100%;
    transition: all ease .6s;
    &:hover {
      cursor: pointer;
      background-color: green;
    }
  }
}

.line-through {
  text-decoration-line: line-through;
}
